<p id="notice"><%= notice %></p>

<h1>Schols</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schols.each do |schol| %>
      <tr>
        <td><%= schol.name %></td>
        <td><%= schol.age %></td>
        <td><%= schol.phone %></td>
        <td><%= schol.email %></td>
        <td><%= schol.address %></td>
        <td><%= link_to 'Show', schol %></td>
        <td><%= link_to 'Edit', edit_schol_path(schol) %></td>
        <td><%= link_to 'Destroy', schol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schol', new_schol_path %>
