

<p>
  <strong>M1:</strong>
  <%= @mrk.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%= @mrk.m2 %>
</p>

<p>
  <strong>M3:</strong>
  <%= @mrk.m3 %>
</p>

<p>
  <strong>M4:</strong>
  <%= @mrk.m4 %>
</p>

<p>
  <strong>M5:</strong>
  <%= @mrk.m5 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @mrk.total %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @mrk.percent %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @mrk.rank %>
</p>

<p>
  <strong>Schol:</strong>
  <%= @mrk.schol_id %>
</p>

<%= link_to 'Edit', edit_mrk_path(@mrk) %> |
<%= link_to 'Back', mrks_path %>
